.bridaloutfit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.popularvenue{
    font-family: proxima-nova,sans-serif;
    margin-top: 50px;
    margin-left: 5%;
    font-weight: 600;
    width: 90%;
    font-size: 22px;
    color: #4a4a4a;
}
.venue-container {
    padding-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    max-width: 90%
}
.box-of-image{
    display: flex;
}
.box-of-image img{
    width: 180px;
    height: 120px;
    border-radius: 5px;
} 
.text-main{
    margin-left: 20px;
    width: 220px;
    height: 140px;
    display: flex;
    flex-direction: column;
}
.star-hotels{
    size: 20px;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    color: #4a4a4a;;
}
.uppertwo{
    flex-direction: row;
    display: flex;
}
.city-for-hotels{
    color: #e72e77;
    line-height: 21px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.city{
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
a{
    text-decoration: none;
}
body{
    line-height: 26px;
    font-weight: 400;
}
.margin-r-5{
    margin-right: 5px;
}
.Upper-container{
    font-family: proxima-nova,sans-serif;
    margin-top: 50px;
    margin-left: 5%;
    height: 140px;
    width: 90%;
    color: #4a4a4a;
}
.Popular_Searches{
    font-family: proxima-nova,sans-serif;
    margin-top: 70px;
    margin-left: 5%;
    font-weight: 600;
    width: 90%;
    font-size: 22px;
    color: #4a4a4a;
}


.middle-container{
    font-family: proxima-nova,sans-serif;
    margin-top: 20px;
    height: 300px;
    margin-left: 5%;
    width: 90%;
    color: #4a4a4a;
}
p{
    font-size: 15px;
    align-content: center start;
}

  .container-img {
    position: relative;
    overflow: hidden;
    width: 240px; /* Adjust the width as needed */
    height: 260px; /* Adjust the height as needed */
  }
  
  .container-img img {
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transition: transform 0.7s ease;
  }
  
  .container-img:hover img {
    transform: scale(1.3); /* Adjust the scale factor as needed for the desired zoom level */
  }
  
  .container-img a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .Wedding_Categories{
    margin-top: 110px;
    margin-left: 5%;
    width: 90%;
    display: flex;
  }

  .Wedding-Categories{
    font-family: proxima-nova,sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #4a4a4a;
  }
  .All-Categories{
    font-family: proxima-nova,sans-serif;
    margin-left: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: #e72e77;
  }

.Six_Categories{
    width: 90%;
    height: auto;
    margin-left: 5%;
}

.Upper_Two{
    margin-top: 15px;
    display: flex;
}
.Middle_two{
    margin-top: 15px;
    display: flex;
}
.Last_two{
    margin-top: 15px;
    display: flex;
}

.First_Category{
    background-color: rgb(216, 223, 252);
}
.Second_Category{
    background-color: rgb(244, 213, 194);
    margin-left: 20px;
}
.Third_Category{
    background-color: rgb(223, 178, 173);
}
.Fourth_Category{
    background-color: rgb(207, 205, 184);
    margin-left: 20px;
}

.Fifth_Category{
    background-color: rgb(220, 247, 247);
}
.Six_Category{
    background-color: rgb(229, 211, 189);
    margin-left: 20px;
}

.Common_Category{
    width: 590px;
    height: 120px;
    margin-right: auto;
    display: flex;
}
.text_div{
    height: 120px;
    width: 340px;
}
.image_div{
    height: 120px;
    width: 250px;
}
.first_image{
    clip-path: ellipse(99% 140px at 100% 50%);
    object-fit: cover;
}
.text_div_container{
    width: 250px;
    padding: 30 25;
}

.text_div_first{
    font-size: 22px;
    font-family: proxima-nova,sans-serif;
    font-weight: 600;
    color: #4a4a4a;
}
.text_div_second{
    font-size: 14px;
    margin-top: 5px;
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    color: #4a4a4a;
}

.VMG_Services{
    font-family: proxima-nova,sans-serif;
    margin-top: 90px;
    margin-left: 5%;
    font-weight: 600;
    width: 90%;
    font-size: 22px;
    color: #4a4a4a;
}

.Three-Services{
    width: 90%;
    margin-left: 5%;
}
.Pair_two_Services{
    margin-top: 20px;
    display: flex;
}
.First_Contianer_Service{
    width: 590px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 5px 0px;
    overflow: hidden;
}
.Second_Contianer_Service{
    width: 590px;
    margin-left: auto;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 5px 0px;
    overflow: hidden;
}
.Wedsta_img{
    border-radius: 5px;
    margin-left: 10px;
    width: 570px;
    height: 200px;
    object-fit: cover;
}
.Wedsta_txt{
    width: 570px;
    margin-left: 10px;
    margin-top: 20px;
    font-family: proxima-nova,sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #4a4a4a;
    font-weight: 600;
    display: flex;
}

.Wedsta_Second_txt{
    margin-top: 10px;
    margin-left: 10px;
    font-family: proxima-nova,sans-serif;
    color: #4a4a4a;
    display: flex;
    width: 570px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.Know_more{
    margin-top: 20px;
    margin-left: 10px;
    font-family: proxima-nova,sans-serif;
    color: #e72e77;
    background-color: #fff;
    border: 1px solid #e72e77;
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.Button-Know-More{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  