.bridaloutfit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.popularvenue{
    font-family: proxima-nova,sans-serif;
    margin-top: 50px;
    margin-left: 5%;
    font-weight: 600;
    width: 90%;
    font-size: 22px;
    color: #4a4a4a;
}
.venue-container {
    padding-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    max-width: 90%
}
.box-of-image{
    display: flex;
}
.box-of-image img{
    width: 180px;
    height: 120px;
    border-radius: 5px;
} 
.text-main{
    margin-left: 20px;
    width: 220px;
    height: 140px;
    display: flex;
    flex-direction: column;
}
.star-hotels{
    size: 20px;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    color: #4a4a4a;;
}
.uppertwo{
    flex-direction: row;
    display: flex;
}
.city-for-hotels{
    color: #e72e77;
    line-height: 21px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.city{
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
a{
    text-decoration: none;
}
body{
    line-height: 26px;
    font-weight: 400;
}
.margin-r-5{
    margin-right: 5px;
}
.Upper-container{
    font-family: proxima-nova,sans-serif;
    margin-top: 50px;
    margin-left: 5%;
    height: 140px;
    width: 90%;
    color: #4a4a4a;
}
.Popular_Searches{
    font-family: proxima-nova,sans-serif;
    margin-top: 70px;
    margin-left: 5%;
    font-weight: 600;
    width: 90%;
    font-size: 22px;
    color: #4a4a4a;
}

.each-side {
    width: 240px;
    height: 260px;
    border-radius: 7px;
}
.middle-container{
    font-family: proxima-nova,sans-serif;
    margin-top: 20px;
    height: 340px;
    margin-left: 5%;
    width: 90%;
    color: #4a4a4a;
}

img{
    height: 306px;
    width: 240px;
    border-radius: 10px;

}

p{
    font-size: 15px;
    align-content: center start;
}
